<div class=bg-warning> {{x}}</div>
<a class="btn btn-primary" (click)="fnclick()">click me</a>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="http://source.unsplash.com/random/600x200" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="http://source.unsplash.com/random/500x500" class="" alt="...">
      </div>
      <div class="carousel-item">
        <img src="http://source.unsplash.com/random/700x900" class="" alt="...">
      </div>
    </div>
  </div>
